@import './resets.css';
@import './variables.css';
@import './mixins.css';

.board {
  border-spacing: 1em;
  width: 100%;
}

.board tr:nth-child(even) td:nth-child(odd), .board tr:nth-child(odd) td:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

.board td {
  background: rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

.board td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

.board td a {
  cursor: pointer;
  display: block;
  height: 100%;
  font-size: 15vw;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.scores {
  text-align: center;
  width: 100%;
}

.scores .item {
  height: 3em;
  width: 3em;
}

.class_a {
  @mixin gradient-background;
  color: #FFF;
  font-style: italic;
  text-decoration: underline;
}
.class_b {
  @mixin gradient-background rgba(191,210,85,1), rgba(142,185,42,1), rgba(114,170,0,1), rgba(158,203,45,1);
  color: #FFF;
  font-family: Times;
  font-weight: bold;
}
.class_c {
  @mixin gradient-background #DDD, #EEE, #CCC, #BBB;
  color: #000;
  font-family: Georgia;
}
.class_d {
  @mixin gradient-background rgba(252,236,252,1), rgba(251,166,225,1), rgba(253,137,215,1), rgba(255,124,216,1);
  color: #000;
  text-decoration: underline;
  font-family: "monaco";
  text-transform: uppercase;
}
.class_e {
  @mixin gradient-background rgba(174,188,191,1), rgba(110,119,116,1), rgba(10,14,10,1), rgba(10,8,9,1);
  color: #FFF;
  font-family: "Comic Sans MS";
}
.class_f {
  @mixin gradient-background rgba(248,80,50,1), rgba(241,111,92,1), rgba(246,41,12,1), rgba(240,47,23,1), rgba(231,56,39,1);
  color: #FFF;
  font-family: Impact;
}
.class_g {
  @mixin gradient-background rgba(240,183,161,1), rgba(140,51,16,1), rgba(117,34,1,1), rgba(191,110,78,1);
  color: #FFF;
  font-family: Papyrus;
}

/* Global rules */

body {
  font-family: var(--font-stack);
}

@media screen and (min-width: 700px) {
  .board {
    width: 75%;
  }

  aside {
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 25%;
  }
}
